<html>
<head>
  <title>MedHacks 2019</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
  <div id="dash-header"></div>
  <div id="content">
      <div class="row">
          <div  id="history" class="col-lg-2 col-md-12 sm-12">
              <div class="xray_prev">
                  <h3>9/28/19 - 11:28 AM</h3>
                  <img src="https://via.placeholder.com/150C/" />
              </div>
              <div class="xray_prev">
                  <h3>9/28/19 - 11:28 AM</h3>
                  <img src="https://via.placeholder.com/150C/" />
              </div>
              <div class="xray_prev">
                  <h3>9/28/19 - 11:28 AM</h3>
                  <img src="https://via.placeholder.com/150C/" />
              </div>
              <div class="xray_prev">
                  <h3>9/28/19 - 11:28 AM</h3>
                  <img src="https://via.placeholder.com/150C/" />
              </div>
              <div class="xray_prev">
                  <h3>9/28/19 - 11:28 AM</h3>
                  <img src="https://via.placeholder.com/150C/" />
              </div>
          </div>
          <div class="col-lg-10 col-md-12">
            <h2 id="upload">Add a New XRAY</h2>

            <!--<form action="https://jw9mtag8w6.execute-api.us-east-1.amazonaws.com/prod/"
              class="dropzone"
              id="uploadXray"></form>-->

<!--
<form action="https://jw9mtag8w6.execute-api.us-east-1.amazonaws.com/prod/" method="post" enctype="multipart/form-data">
<input type="hidden" id="fileKeyField" name="key" value="temp.png">
<input type="file" name="file">
<input type="submit">
</form>
-->

<div>
    <div>
        <label for="filePicker">Choose or drag a file:</label><br>
        <input type="file" id="filePicker">
    </div>
    <br>
</div>

              <!--<div class="row justify-content-lg-center" id="imageResultContainer" style="display: none">
                  <div class="col-lg-6 col-md-12">
                    <h2 id="result">Diagnosis: Acute Bronchitis - Accuracy 92%</h2>
                    <img id="resultImg" src="" />
                  </div>

              </div>-->


              </div>
          </div>
      </div>
  </div>
  <script>
    var base64Code = "";
      function getUID() {
        var value = "; " + document.cookie;
        var parts = value.split("; " + "uid" + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }

    var handleFileSelect = function(evt) {
      var files = evt.target.files;
      var file = files[0];

      if (files && file) {
          var reader = new FileReader();
          reader.onload = function(readerEvt) {
              var binaryString = readerEvt.target.result;
              base64Code = btoa(binaryString);
              var uid = getUID();
              var recordObject = {
                "base64photo": base64Code,
                "user_id":  uid
                }

                // construct an HTTP request
              var xhr = new XMLHttpRequest();
              xhr.open('POST', 'https://jw9mtag8w6.execute-api.us-east-1.amazonaws.com/prod?user_id=1&recipient_id', true);
              xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8',);

              // send the collected data as JSON
              xhr.send(JSON.stringify(recordObject));

              xhr.onloadend = function (res) {
                var json_data = xhr.responseText;
                console.log("done: " + xhr.responseText)
              };

          };
          reader.readAsBinaryString(file);
      }
    };

    if (window.File && window.FileReader && window.FileList && window.Blob) {
    document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
  } else {
    alert('The File APIs are not fully supported in this browser.');
  }





  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../static/js/dropzone.js"></script>

</body>
</html>
