<html>
<head>
  <title>MedHacks 2019</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>

  </style>
</head>
<body>
<div id="content">
  <div id="hero" class="row">
    <div class="col-md-12">
        <div id="hero-content"  class="text-center">
          <h1>DELIVERING XRAY DIAGNOSIS YOU AND YOUR PATIENTS CAN RELY ON</h1>
          <a href="signUp"><button type="button" class="btn btn-primary center">Sign Up</button></a>
        </div>
    </div>
  </div>
  <div id="main">
      <div class="row">
                <div class="col-md-4 service-col">
                    <h3 class="text-center">Diagnosis</h3>
                    <p>Our robust machine learning model is capable of detecting several chronic diseases.</p>
                </div>
                <div class="col-md-4 service-col">
                    <h3 class="text-center">Certainty</h3>
                    <p>We are able to deliver a diagnosis with up to 97% certainty, which rivals that of even the most talented radiologists.</p>
                </div>
                <div class="col-md-4 service-col">
                    <h3 class="text-center">Treatment</h3>
                    <p>Not only do we detect diseases, but we deliver actionable information and recommendations.</p>
                </div>
      </div>
  </div>
</div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
